<h1>New Event</h1>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="location" placeholder="location" />
  <input type="date" name="date" />
  <input type="submit">
</form>